.switch
{
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  width: 120px;
  height: 22px;
  text-align: left;
  line-height: 18px;
}

.switch input
{ 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8cbeed;
}

.slider:before
{
  position: absolute;
  content: "";
  border: 2px solid #666666;
  text-align: center;
  vertical-align: text-bottom;
  height: 12px;
  width: 20px;
  left: 83px;
  bottom: 1px;
  background-color: #8cbeed;
  -webkit-transition: .01s;
  transition: .01s;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  background-color: #ffa600;
}

.slider.round 
{
  font-weight: 700;
  color: #ffffff; 
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  border: 2px solid #666666;
  border-radius: 4px;
  padding-left: 8px;
  font-size: 13px;
  font-family: arial;
}

.slider.round:before
{
  border-radius: 4px;
}

.slider.round:hover
{
  background-color: #ffa600;
}
