/*
 * 
 * (C) DaftSoft, 04.2014-04.2020
 * Daft-Soft.blogspot.com
 * gitlab.com/users/DaftSoft
 * DaftSoft@yandex.ru
 * 
 */

.PlainButton
{
  cursor: pointer;
  background-color: #8cbeed;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 2px solid #666666;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  height: 22px;
  line-height: 16px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  vertical-align: text-bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.PlainButton:hover
{
  background-color: #ffa600;
}

#Watcher
{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 35px;
  left: 5%;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: #222;
  border: 2px solid lightblue;  
  color: lightgray;
  font-weight: 700;
  font-size: 13px;

}

#WatchStatus, #FetchStatus, #WatcherControls
{
  line-height: 25px;
}

#FetchStatus
{
  width: 30%;
  position: absolute;
  left: 5%;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  color: orange;
  vertical-align: middle;
  display: inline-block;
}

#WatchStatus
{
  width: 30%;
  position: absolute;
  left: 35%;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  color: orange;
  vertical-align: middle;
  display: inline-block;
}

#WatcherControls
{
  width: 30%;
  position: absolute;
  left: 65%;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  color: orange;
  vertical-align: middle;
  display: inline-block;
}

.Orange
{
  color: orange;
}

#LogAutoScrollCheckBox
{
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  color: #AAA;
  vertical-align: middle;
  display: inline-block;
}
